<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NoSleepFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NoSleepStatic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>921DD84714EAE2D9000EC9D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92987E7614EC2E1D00DA7075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92987E8914EC2F5700DA7075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
